<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby tutorials</title>
  </head>

  <body>
    <h1>Appointment Application</h1>
    <p>Home page for appointment application.</p>
  </body>
</html>